body {
    margin-top: 0;
    margin-bottom: 0;
}
.all {
    margin: 0 auto;
    max-width: 1050px;
    font-size: 14px;
    background: #FFFFFF;
    box-shadow: 0 0 10px #555555;
}

header {
    margin: 0 10px;
    min-height: 160px;
}

main {
    padding: 0 20px 20px;
    min-height: 500px;
}

footer {
    padding: 10px 20px 10px 20px;
    background: #555555;
    box-shadow: 0 0 10px #555555;
    color: #FFFFFF;
    font-size: 10px;
}