<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
        <property name="hibernate.hikari.dataSourceClassName">org.postgresql.ds.PGSimpleDataSource</property>
        <property name="hikari.dataSource.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hikari.dataSource.user">ltuser</property>
        <property name="hikari.dataSource.password">password</property>
        <property name="hibernate.default_schema">lt</property>
        <property name="show_sql">true</property>
    </session-factory>
</hibernate-configuration>