body {
    margin-top: 0;
    margin-bottom: 0;
}
.all {
    margin: 0 auto;
    max-width: 1050px;
    font-size: 14px;
    background: #FFFFFF;
    box-shadow: 0 0 10px #555555;
}

header {
    margin: 0 10px;
    position: relative;
}

main {
    padding: 0 20px;
    min-height: 500px;
}

.left_side {
    width: 20%;
    float: left;
}

.center {
    margin: 0 0 10px 20px;
    float: left;
    width: 70%;
}

form {
    margin: 0 auto;
    width: 250px;
    padding: 1em;
    border: 1px solid #CCC;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
}

.txtinput {
    width: 150px;
    border: 1px solid #999;
}

input:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    width: 240px;
}

.button {
    padding-left: 215px;
}

table {
    margin: 0 auto;
    border: solid 1px #2EB845;
}

td, th {
    padding: 5px;
    background: #EFE7B6;
}

footer {
    padding: 10px 20px 10px 20px;
    background: #555555;
    box-shadow: 0 0 10px #555555;
    color: #FFFFFF;
    font-size: 10px;
}